   
<article class="container" id="aboutus">
  <div class="row">
    <div class = "col-md-12 col-sm-12 col-xs-12 about">
      <h2>Our Story</h2>
      <p>There are two things that sustained us through university – student loans and cycling. Two housemates united by our mutual obsession, we spent many a ride setting the bike industry to rights. Our main gripe was the massive lack of relationship between these big companies and their customers. Like the Freemasons or something else that sounds vaguely secretive, we were left on the outside without knowing the fancy handshake. Their manufacturer > distributor > retailer supply chain seemed pointless and kind of mafia in this day and age.  Instead of sending them passive-aggressive tweets or spending our summers sitting around eating Doritos, we decided to create our own bike company from scratch. We did this on a shoestring budget running mostly on goodwill and support from people who liked what we were doing. Literally indulging our every whim and asking, “what happens if…?” we made a place where we could talk to customers, tap on computers, spray bike frames and assemble our dream rides all in the same tiny workspace. It was a novel idea, and it worked a treat.  These days we have a skilled team of riders, designers, and practical people who carry tools in their pockets all working harmoniously together in the same habitat. When we answer the phone, we can reach out, shout or throw a scrunched up ball of paper at anyone in the entire company to get their attention. Not many big bike manufacturers can say that. The upshot is that we’re now making brilliant bikes right here in the UK and selling them direct to regular people – and at a fraction of the cost than if we went all Don Corleone on you.</p>
    </div>
  </div>
  <div class="row"> 
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><h2>Our Staff</h2>
       <p>We have built our reputation on experienced and   knowledgeable sales staff, ready to help you make the ideal bike purchase for your cycling needs!</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><h2>Expert Bike Fitting</h2>
        <p>Expert bike fitting services using a combination of  Trek's Fit program, Specialized's BG fit program and Juteau Cantin's fit program and custom equipment.</p>
    </div>
  </div>
  <div class="row">  
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span><h2>Full Service Repairs</h2>
        <p>Our full service repair shops are some of the best in the  city, providing confidence inspiring repairs on bikes of all   disciplines for over 10 years.</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><h2>Focus On Community</h2>
       <p>Our shop has been a family-oriented business since day  one, and a part of that mentality is being an active and positive part of our local community.</p>
    </div>
  </div> 
</article>
   
