<div class="container">
  <div class="row">
    <% @products.each do |product| %> 
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.peachbike.jpg, class: "img-responsive") %>
        <h1>Bike 1</h1></a>
        <p>Pretty cool bike</p>
        <strong>$ 42</strong>
      </div><!-- /col -->

      <a href="#"><h1>Bike 2</h1></a>
      <p>Really cool bike</p>
      <strong>$ 84</strong>
    </div><!-- /col -->

      <a href="#"><h1>Bike 3</h1></a>
      <p>Best bike ever</p>
      <strong>$ 999</strong>
    </div><!-- /col -->

      <a href="#"><h1>Bike 4</h1></a>
      <p>This bike is ok</p>
      <strong>$ 1</strong>
    </div><!-- /col -->
  </div>
</div>






