.h1 {
    font-family: arial;
    color: blue; 
    text-align: center;
}

.h2 {
    color: green;
    text-align: center;
    padding-top: 20px;
}

.carousel {
	padding-top: 70px;
}

.panel {
	padding-top: 70px;
}

/*Contact Page */

.container { 
	padding-top: 70px;
}
	

/* Nav */

.navbar {
	background-color: #c2c2a3;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar ul {
	float: right;
}

.navbar li {
	display: inline-block;
	}

.navbar a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #FFF; 
	font-weight: 200;
	}

.navbar-header {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #FFF; 
	font-weight: 200;
}

.projectName a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #FFF; 
	font-weight: 200;	
}

.navbar a:hover {
	color: #fff;
	text-decoration: none;
}

.dropdown-menu {
	background-color: black;
}

/* Typography for Nav */

.navbar ul li a { 
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.projectName a {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.dropdown-menu a {
	font-family: Futura, Helvetica, Arial, sans-serif;
}




